body {
  background-color: #ff9d54;
  margin: 0;
  padding: 0;
  height: 100%;
}
.src-div {
  height: 50px;
  display: flex;
  flex-direction: row;
  margin: 25px 5px 5px 5px;
  justify-content: center;
  gap: 5px;
}
.src-icon {
  background-color: #ffffff;
  border-radius: 50%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  cursor: pointer;
}
#inpBar {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #ff9d54;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border-color: transparent;
}

#inpBar:focus {
  outline: none;
}

.weather-div{
  min-width: 300px;
  min-height: 200px;
  background-color: #ffac88;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  margin: 50px 5px 5px 5px;
}

.div1 {
  width: 50%;
  flex-direction: column;
}
.div2{
  width: 50%;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #344A53;
  text-align: center;
  text-decoration: none;
}